<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>主页</title>
	<!-- Bootstrap Styles-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet" />
     <!-- Morris Chart Styles-->

        <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="/static/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />

    <style type="text/css">

	    .image1{
	        margin-top: 0px;
	        width:50px;
	        height:50px;
	        border-radius:30px;
	    }

    </style>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="${pageContext.request.contextPath}/getNewsList.action" style="font-size: 18px">酒店管理评价系统</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li class="divider"></li>
                        <li><a href="/logout.action" onclick=""><i class="fa fa-sign-out fa-fw"></i>注销</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="/home.action"><i class="fa fa-table"></i> 个人管理</a>
                    </li>

                    <li>
                        <a href="/my_order.action" class="active-menu"><i class="fa fa-table"></i> 我的订单</a>
                    </li>

                    <!--
                    <li>
                        <a href="${pageContext.request.contextPath}/toHotel.action"><i class="fa fa-table"></i> 酒店管理</a>
                    </li>
                    -->
                    <li>
                        <a href="/home_main.action"><i class="fa fa-fw fa-file"></i>酒店预定</a>
                    </li>

                    <li>
                        <a href="/password_ui.action"><i class="fa fa-fw fa-file"></i>修改密码</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
		  <div class="header">
                        <h1 class="page-header">
                            <small>我的订单</small>
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">主页</a></li>
					  <li><a href="#">酒店</a></li>
					  <li class="active">订单</li>
					</ol>

		</div>

            <div id="page-inner">


                <!--后台数据返回-->
                <div class="row">
                            {% for item in data %}
		                    <div class="panel panel-default">
		                        <div class="panel-body">
		                            <div class="panel-group" id="accordion">
		                                <div class="panel panel-default">
		                                    <div class="panel-heading">
		                                        <h4 class="panel-title">
		                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><img alt="" src="/static/images/{{item.head_pic}}" class="image1">{{item.real_name}}</a>
		                                        	<span style="margin-left: 5%">{{item.order_time}}    &nbsp;&nbsp;&nbsp;订单号: {{item.order_numbers}}</span>
		                                        	<span style="float: right;">状态：{{item.order_state}}</span>
		                                        </h4>
		                                    </div>
		                                    <div id="collapseTwo" class="panel-collapse in" style="height: auto;">
		                                        <div class="panel-body">
		                                            <h4 class="panel-title">
		                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><img alt="" src="/static/images/18143441.jpg" style="width: 150px;height: 150px"></a>
		                                        	<span style="margin-left: 5%">{{item.hotel_name}}</span>
		                                        </h4>
		                                        </div>
		                                        <div class="panel-body">
		                                          	入店时间:{{item.enter_time}}<br><br>
		                                          	离店时间:{{item.leave_time}}<br>
		                                        </div>
		                                    </div>
		                                </div>

		                            </div>
		                        </div>
		                    </div>
                            {% endfor %}


		            </div>





           </div>
               <footer><p>Copyright 2018</p></footer>
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/static/assets/js/jquery.metisMenu.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="/static/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="/static/assets/js/dataTables/dataTables.bootstrap.js"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
         <!-- Custom Js -->
    <script src="/static/assets/js/custom-scripts.js"></script>


</body>
</html>
